
@font-face {
    font-family: 'Gotham Narrow Thin SemCond';
    src: url('../fonts/GothamNarrow-ThinItalic.eot');
    src: url('../fonts/GothamNarrow-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamNarrow-ThinItalic.woff') format('woff'),
        url('../fonts/GothamNarrow-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Narrow Black SemCond';
    src: url('../fonts/GothamNarrow-BlackItalic.eot');
    src: url('../fonts/GothamNarrow-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamNarrow-BlackItalic.woff') format('woff'),
        url('../fonts/GothamNarrow-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Narrow ExtLt SemCond';
    src: url('../fonts/GothamNarrow-XLightItalic.eot');
    src: url('../fonts/GothamNarrow-XLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamNarrow-XLightItalic.woff') format('woff'),
        url('../fonts/GothamNarrow-XLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Narrow SemCond';
    src: url('../fonts/GothamNarrow-Book.eot');
    src: url('../fonts/GothamNarrow-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamNarrow-Book.woff') format('woff'),
        url('../fonts/GothamNarrow-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow Light SemCond';
    src: url('../fonts/GothamNarrow-Light.eot');
    src: url('../fonts/GothamNarrow-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamNarrow-Light.woff') format('woff'),
        url('../fonts/GothamNarrow-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow SemCond';
    src: url('../fonts/GothamNarrow-BoldItalic.eot');
    src: url('../fonts/GothamNarrow-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamNarrow-BoldItalic.woff') format('woff'),
        url('../fonts/GothamNarrow-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Narrow Med SemCond';
    src: url('../fonts/GothamNarrow-MediumItalic.eot');
    src: url('../fonts/GothamNarrow-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamNarrow-MediumItalic.woff') format('woff'),
        url('../fonts/GothamNarrow-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Narrow ExtBd SemCond';
    src: url('../fonts/GothamNarrow-Ultra.eot');
    src: url('../fonts/GothamNarrow-Ultra.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamNarrow-Ultra.woff') format('woff'),
        url('../fonts/GothamNarrow-Ultra.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow SemCond';
    src: url('../fonts/GothamNarrow-Bold.eot');
    src: url('../fonts/GothamNarrow-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamNarrow-Bold.woff') format('woff'),
        url('../fonts/GothamNarrow-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow SemCond';
    src: url('../fonts/GothamNarrow-BookItalic.eot');
    src: url('../fonts/GothamNarrow-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamNarrow-BookItalic.woff') format('woff'),
        url('../fonts/GothamNarrow-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Narrow Thin SemCond';
    src: url('../fonts/GothamNarrow-Thin.eot');
    src: url('../fonts/GothamNarrow-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamNarrow-Thin.woff') format('woff'),
        url('../fonts/GothamNarrow-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow ExtLt SemCond';
    src: url('../fonts/GothamNarrow-XLight.eot');
    src: url('../fonts/GothamNarrow-XLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamNarrow-XLight.woff') format('woff'),
        url('../fonts/GothamNarrow-XLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow Med SemCond';
    src: url('../fonts/GothamNarrow-Medium.eot');
    src: url('../fonts/GothamNarrow-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamNarrow-Medium.woff') format('woff'),
        url('../fonts/GothamNarrow-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow Black SemCond';
    src: url('../fonts/GothamNarrow-Black.eot');
    src: url('../fonts/GothamNarrow-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamNarrow-Black.woff') format('woff'),
        url('../fonts/GothamNarrow-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow ExtBd SemCond';
    src: url('../fonts/GothamNarrow-UltraItalic.eot');
    src: url('../fonts/GothamNarrow-UltraItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamNarrow-UltraItalic.woff') format('woff'),
        url('../fonts/GothamNarrow-UltraItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Narrow Light SemCond';
    src: url('../fonts/GothamNarrow-LightItalic.eot');
    src: url('../fonts/GothamNarrow-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamNarrow-LightItalic.woff') format('woff'),
        url('../fonts/GothamNarrow-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-ThinItalic.eot');
    src: url('../fonts/Gotham-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-ThinItalic.woff') format('woff'),
        url('../fonts/Gotham-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Condensed Book';
    src: url('../fonts/GothamCondensed-Book.eot');
    src: url('../fonts/GothamCondensed-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamCondensed-Book.woff') format('woff'),
        url('../fonts/GothamCondensed-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Black.eot');
    src: url('../fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Black.woff') format('woff'),
        url('../fonts/Gotham-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Ultra';
    src: url('../fonts/Gotham-Ultra.eot');
    src: url('../fonts/Gotham-Ultra.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Ultra.woff') format('woff'),
        url('../fonts/Gotham-Ultra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Condensed';
    src: url('../fonts/GothamCondensed-Medium.eot');
    src: url('../fonts/GothamCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamCondensed-Medium.woff') format('woff'),
        url('../fonts/GothamCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-MediumItalic.eot');
    src: url('../fonts/Gotham-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-MediumItalic.woff') format('woff'),
        url('../fonts/Gotham-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Thin.eot');
    src: url('../fonts/Gotham-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Thin.woff') format('woff'),
        url('../fonts/Gotham-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-LightItalic.eot');
    src: url('../fonts/Gotham-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-LightItalic.woff') format('woff'),
        url('../fonts/Gotham-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Light.eot');
    src: url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Light.woff') format('woff'),
        url('../fonts/Gotham-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Ultra';
    src: url('../fonts/Gotham-UltraItalic.eot');
    src: url('../fonts/Gotham-UltraItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-UltraItalic.woff') format('woff'),
        url('../fonts/Gotham-UltraItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Condensed';
    src: url('../fonts/GothamCondensed-Light.eot');
    src: url('../fonts/GothamCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamCondensed-Light.woff') format('woff'),
        url('../fonts/GothamCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Condensed';
    src: url('../fonts/GothamCondensed-Bold.eot');
    src: url('../fonts/GothamCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamCondensed-Bold.woff') format('woff'),
        url('../fonts/GothamCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-BlackItalic.eot');
    src: url('../fonts/Gotham-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-BlackItalic.woff') format('woff'),
        url('../fonts/Gotham-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Extra';
    src: url('../fonts/Gotham-ExtraLight.eot');
    src: url('../fonts/Gotham-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-ExtraLight.woff') format('woff'),
        url('../fonts/Gotham-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Bold.eot');
    src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Bold.woff') format('woff'),
        url('../fonts/Gotham-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-BoldItalic.eot');
    src: url('../fonts/Gotham-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-BoldItalic.woff') format('woff'),
        url('../fonts/Gotham-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Medium.eot');
    src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Medium.woff') format('woff'),
        url('../fonts/Gotham-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('../fonts/Gotham-BookItalic.eot');
    src: url('../fonts/Gotham-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-BookItalic.woff') format('woff'),
        url('../fonts/Gotham-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Extra';
    src: url('../fonts/Gotham-ExtraLightItalic.eot');
    src: url('../fonts/Gotham-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-ExtraLightItalic.woff') format('woff'),
        url('../fonts/Gotham-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('../fonts/Gotham-Book.eot');
    src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Book.woff') format('woff'),
        url('../fonts/Gotham-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: 'Gotham Narrow Light SemCond';
    font-size: 14px;
    background: #f5f6f8;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Gotham';
	 font-weight: normal;
    font-style: normal;
}
a{

    font-family: 'Gotham Book';
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.01em;
}
p, select, input{
     font-family: 'Gotham Book';
    font-weight: 300;
    font-style: normal;
}

.login-container{
	height: 100vh;
	background-color: #f5f6f8;
	background: url(../images/bobble-bg.png) no-repeat fixed bottom;
}
.sm-red-btn{
	background-color: #e43226;
	border-radius: 5px;
	color: #fff;
	box-shadow: 0px 10px 20px rgba(228,50,38,0.5);
	padding: 10px 30px;
}
.login-form p{
	font-size: 22px;
	color: #555;
	margin-bottom: 50px;
}
.login-form .ds-login > .form-group input{
	height: 60px;
	border-radius: 0px;
	border: 0px;
	padding-left: 50px;
	box-shadow: none;
}
.login-form .ds-login > .form-group:first-child input{
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.login-form .form-group{
	margin-bottom: 0px;
}
.login-form .ds-login > .form-group > i{
	font-size: 23px;
	line-height: 60px;
	position: absolute;
	left: 30px;
	color: #555;
}
.login-form .form-options{
	margin: 20px 0px 40px 0px;
}
.login-form .form-group input.error{
	background-color: rgba(228,58,38,0.2);
}
.login-form .emsg{
	font-size: 17px;
	margin-bottom: 10px;
	display: block;
}

/************************** custom checkbox *********************************/
/* The container */
.checkbox_div {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox_div input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #fff;
	border: 2px solid #555;
	border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.checkbox_div:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox_div input:checked ~ .checkmark {
    background-color: #e43226;
	border: 2px solid #e43226;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox_div input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox_div .checkmark:after {
    left: 6px;
	top: 1px;
	width: 7px;
	height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*****************************************************************/

.color-red{
	color: #e43226 !important;
}
.main_header{
	background-color: #fff;
	padding: 10px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.main_header .head_logo{
	height: 55px;
}
.main_header .dropdown > a{

	color: #888;
}
.main_header .dropdown > span{
	width: 50px;
	height: 50px;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
}
.main_header .dropdown > span img{
	width: 100%;
}
.main_header .dropdown{
	float: right;
}
.main_header .dropdown .dropdown-toggle::after {
	vertical-align: .055em;
    border-top: .5em solid #e43226;
    border-right: .5em solid transparent;
    border-bottom: 0;
    border-left: .5em solid transparent;
}

.main_heading{
	font-size: 25px;
	line-height: 4em;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	color: #555;
}
.main_heading span.badge{
	background-color: #e43226;
	color: #fff;
}

.properties.nav-pills .nav-link.active, .properties.nav-pills .show > .nav-link{
	border-radius: 50px;
	background-color: #e43226;
}
.properties.nav-pills .nav-item > .nav-link{
	color: #5a5454;
	background-color: #dfdfdf;
	border-radius: 50px;
}
.properties .nav-item:not(:last-child){
	margin-right: 25px !important;
}

.properties.nav-pills .nav-item > .nav-link.active{
	box-shadow: 0px 10px 20px rgba(228,50,38,0.3);
	color: #fff;
	background-color: #e43226;
}.properties.nav-pills .nav-item > .nav-link i.zmdi{
	font-size: 20px;
}


/**************************************/

.propertie-item{
	box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	margin-bottom: 30px;
	border-radius: 8px;
overflow: hidden;
}


.propertie-item .img-div{
	text-align: center;
	position: relative;
	height: 250px;
	overflow: hidden;
	background-color: #e7e7e7;
}
.propertie-item .img-div img{
	width: auto;
	display: inline-block;
	min-height: 100%;
	max-height: 100%;
	margin: 0px auto;
}
.propertie-item .img-div div img{
	width: auto;
}
.img-hover-dtls{
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding: 18px 12px 0px 12px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
}

.propertie-item-dtls{
	padding: 10px;
}
.propertie-item-dtls h5{
	color: #cf2e22;
	font-family: "Gotham";
	font-weight: 500;
	font-size: 20px;

}
.propertie-item-dtls h5 ~ p{
	color: #878787;
	margin-bottom: 20px;
	font-size: 16px;
}
.propertie-item-dtls .area strong{
	color: #5f5f5f;
}

.propertie-item-dtls .distance{
	float: right;
}
.propertie-item-dtls .distance strong{
	color: #5f5f5f;
}
.propertie-item-dtls .distance img{
	padding-right: 5px;
	color: #cf2e22;
	font-size: 18px;
	vertical-align: top;
}
.propertie-footer{
	border-top: 1px solid #ddd;
	padding: 20px;
	margin-top: 15px;
}
.propertie-footer a{
	color: #cf2e22;
	font-family: "Gotham";
	font-weight: 500;
	font-size: 14px;
}

.img-hover-dtls div{
	color: #fff;
}
.img-hover-dtls div:last-child{
	text-align: right !important;
}
.img-hover-dtls{
	font-size: 16px;
	text-align: left;
}
.img-hover-dtls div > span{
	display: block;
	color: #bbb;
	font-family: "Gotham";
}
.img-hover-dtls div > strong{
	font-weight: 700;
	font-family: "Gotham";
}
.img-hover-dtls div{
	flex-grow: 1;
	margin-bottom: 5px;
}
.img-hover-dtls div span.badge{
	background-color: #84d25a;
	font-weight: 400;
	font-size: 16px;
}
.propertie-item-dtls div:first-child{
	padding: 10px;
}
.propertie-item-dtls .view_list{
	margin-bottom: 0px;
}
.propertie-item-dtls .view_list li{
	display: inline-block;
	list-style-type: none;
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 10px;
	margin-right: 5px;
}
.propertie-item-dtls .view_list li img{
	min-height: 100%;
	min-width: 100%;
}
.propertie-item-dtls .view_list li:last-child{
	background-color: #dfdfdf;
}
.propertie-item-dtls .view_list li:last-child a{
	color: #555;
	text-align: center;
	display: block;
	font-size: 18px;
	line-height: 50px;
}
.propertie-footer a{
	flex-grow: 1;
	text-align: center;
}
.propertie-footer a i{
	font-size: 14px;
	padding-right: 5px;
}
/********************/

.community-tabs .nav-tabs{
	display: block;
	background-color: #f3f3f3;
	padding-top: 0px;
}
.community-tabs .nav-tabs li a{
	color: #cf2e22;
	font-family: "Gotham Book";
	padding: 15px 35px;
	font-size: 17px;
	font-weight: 500;
}
.community-tabs .nav-tabs > li.active > a, .community-tabs .nav-tabs > li.active > a:focus, .community-tabs .nav-tabs > li.active > a:hover{
	background-color: #cf2e22;
	color: #fff;
}
.widget {
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    margin-bottom: 40px;
}
.community_tabs li a.active {
    border-bottom: 3px solid #cf2e22;
    display: block;
}
.community_tabs li {
    display: inline-block;
    width: 50%;
    text-align: center;
    /*padding: 10px 0px;*/
    border-bottom: 3px solid #ccc;
    font-size: 16px;
    text-transform: uppercase;
    color: #6a6a6a;
}
.community_tabs li.active a, .community_tabs li.active a:hover, .community_tabs li a, .community_tabs li.active a:active, .community_tabs li.active a:focus {
    border: 0px solid #fff;
    background-color: transparent;
	line-height: 4em;
}
.widget_body {
    padding: 25px;
}
.widget_body ul li {
    list-style-type: none;
	line-height: 2em;
font-size: 17px;
}
.amenities_list li::before {
    content: url(../images/amenities_list.png);
    padding-right: 10px;
    position: relative;
    vertical-align: bottom;
    top: 3px;
}
.propertie-tabs li a {
    font-family: "Gotham";
    color: #6a6a6a;
    display: block;
}
.propertie-tabs .nav-tabs{
	line-height: 47px !important;
}
.propertie-tabs ul li a{
	line-height: 40px;
	padding: 10px 30px;
	font-size: 17px;
}
.propertie-tabs ul{
	background-color: #fff;
}
.propertie-tabs ul li a.active{
	color: #e43226;
	border-bottom: 2px solid #e43226;
}
.tab-content .tab-pane img{
	width: 100%;
}
.propertie-item-dtls ul li i{
	color: #e43226;
	font-size: 22px;
	vertical-align: middle;
	padding-right: 5px;
}
.propertie-item-dtls ul li{
	font-size: 18px;
	vertical-align: middle;
	margin-right: 50px;

}

.propertie-dtls{
	margin-bottom: 0px;
}
.propertie-dtls li{
	flex-grow: 1;
	list-style-type: none;
	text-align: center;
	font-size: 20px;
	position: relative;
}
.propertie-dtls li strong{
	display: block;
	color: #e43226;
	font-size: 22px;
	font-weight: 700;
	font-family: "Gotham";
}
.propertie-dtls_div{
	background-color: #fff;
	padding: 20px 0px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
.propertie-dtls li:after{
	content: "";
	width: 1px;
	height: 50px;
	background-color: rgba(0,0,0,0.3);
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
}
.slider-dtls{
	position: absolute;
	bottom: 0px;
	width: 100%;
	color: #fff;
	z-index: 2;
}
.fullslider.inner{
	position: relative;
    overflow: hidden;
    height: 400px;
}
.bg-shadow{
	height: 100%;
	position: absolute;
	top: 0px;
	bottom: 0px;
/*	background-image: linear-gradient(to bottom right, rgba(0,0,0,0), rgba(0,0,0,0.5));*/
	background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 1%,rgba(0,0,0,0.6) 100%);
	z-index: 1;
	width: 100%;
}
.slider-dtls p{
	color: #999;
	font-size: 17px;
	padding-bottom: 30px;
}

/********************************* Chat Footer ***********************/
.chaticon{
	background-color: #e43226;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	display: inline-block;
	text-align: center;
	line-height: 60px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.chaticon img{
	width: 30px;
}
.chat_footer{
	text-align: right;
	margin: 20px 0px 0px 0px;
	padding: 20px;
	position: relative;
}
#chat, .communitie_single_item{
	position: absolute;
	bottom: 100%;
	right: 20px;
	background-color: #fff;
	border-radius: 8px;
	overflow: hidden;
	width: 400px;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}
.communities_header{
	background-color: #e43226;
	padding: 10px;
}
.communities_header p{
	color: #fff;
	font-size: 18px;
	margin-bottom: 0px;
	font-weight: 700;
}
.communities_header a{
	color: #fff;
	display: inline-block;
	vertical-align: middle;
}
.chat_item{
	padding: 15px;
	text-align: left;
	cursor: pointer;
}
.chat_item .item_img{
	width: 55px;
height: 55px;
overflow: hidden;
border-radius: 50%;
}

.chat_item .item_img img{
	width: 100%;
	min-height: 100%;
}
.chat_item .chat_dtls p {
    margin-bottom: 0px;
    font-weight: 700;
}
.msg_count .badge{
	background-color: #e43226;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	line-height: 25px;
	color: #fff;
}
.chat_item .chat_dtls{
	width: 80%;
	padding-left: 10px;
}
.communitie_single_item .communities_header p{
	flex-grow: 1;
	text-align: left;
	padding-left: 10px;
}
.chat_item .chat_dtls span{
	font-size: 13px;
	color: #777;
}
.communitie_single_item .communities_header i{
	color: #fff;
	font-size: 16px;
    padding-left: 5px;
    cursor: pointer;
}
.item_full{
	background-color: #f9f9f9;
}
.item_full .chat_item{
	padding: 20px;
}
.chat_msgs{
	padding: 15px;
	text-align: left;
}
.chat_msgs .right_chat, .chat_msgs .left_chat{
	padding: 15px;
	margin-bottom: 20px;

}
.chat_msgs .right_chat{
	float: right;
	width: 60%;
	background-color: #fdf1f1;
	border-radius: 15px 15px 0px 15px;
}
.chat_msgs .left_chat{
	float: left;
	width: 60%;
	background-color: #f6f6f6;
	border-radius: 15px 15px 15px 0px;
}
.sent_box{
	background-color: #ebebeb;
	padding: 10px 20px;
}
.sent_box input{
	background-color: transparent;
	border: 0;
	height: 50px;
	flex-grow: 1;
	color: #666;
}
.sent_box input:focus{
    outline: none;
}
.sent_box span{
	color: #e43226;
	font-size: 22px;
}

.chat_footer{
	position: fixed;
	bottom: 20px;
    right: 20px;
    z-index: 1050;
}

.chat_footer .chat_msgs{
  max-height: 250px;
  overflow-y: scroll;
}

.contacts_list{
    max-height: 350px;
    overflow-y: scroll;
  }


.fullslider.inner img{
    width: 100%;
    
}
.loader{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
}
.noDataFound{
    text-align: center;
    width: 100%
}
.noDataFound img {
    width: 20% !important
}
.loader img {
    width: 2%
}

.propertie-footer a.propertyDisabled{
    cursor: default;
    color: #d2d2d2;
    text-decoration: none;
}
/********************/

.communitie_pop .modal-body > .d-flex > div:first-child{
	width: 35%;
}
.communitie_pop .modal-body > .d-flex > div:last-child{
	width: 65%;
}
.communitie_pop .d-flex .contacts_list {

    max-height: 500px;
    overflow-y: scroll;
    height: 100%;

}
.chat_item .item_img{
	min-width: 45px;
}
.communitie_pop .chat_item .item_img{
	width: 45px;
	height: 45px;
}
.communitie_pop .chat_msgs {
    height: calc(500px - 70px);
	max-height: calc(500px - 70px);
}
.modal .modal-dialog {
	overflow: hidden;
}
.communitie_pop .modal-header{
	color: #fff;
	background-color: #e43226;
}
.communitie_pop .modal-header .close{
	color: #fff;
	opacity: 1;
}
.communitie_pop .chat_item:hover, .communitie_pop .chat_item.activeItem{
	background-color: rgba(228, 50, 38, 0.1);
}
.communitie_pop .chat_item:hover .chat_dtls p, .communitie_pop .chat_item.activeItem .chat_dtls p{
	color: #e43226;
}



/********************************** Oct 05 2018 ***********************************/
header ~ .main_content{
	padding-top: 5.4rem;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link{
	color: #e43226;
}
.navbar-light .navbar-nav .nav-link{
	color: rgba(0,0,0,.7);	
	font-size: 15px;
}
.jumbotron.inner_ban{
	min-height: 260px;
	background: url(../images/inner_ban.jpg) no-repeat center;
	background-size: cover;
	margin-bottom: 140px;
	position: relative;
}
.div_overly{
	position: absolute;
	width: 100%;
	background-color: rgba(226,33,28,0.8);
	height: 100%;
	left: 0px;
	top: 0px;
}
.p_pic{
	width: 200px;
	height: 200px;
	overflow: hidden;
	border: 3px solid #fff;
	text-align: center;
	position: absolute;
	left: calc(50% - 100px);
	top: calc(50% + 2rem);
	margin-bottom: 20px;
}
.p_pic img{
	max-height: 200px;
	min-height: 200px;
	min-width: 200px;
}
.c_dtls h3, .c_dtls p{
	color: #707070;
}
.c_dtls p{
	font-size: 16px;
}
.c_dtls p strong{
	font-weight: 700;
}
.consultant_table{
	box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
	border-radius: 7px;
	padding: 15px;
	background-color: #fff;
}
.consultant_table div{
	flex-grow: 1;
	padding-left: 20px;
	border-bottom: 1px solid rgba(0,0,0,0.2);	
	padding-bottom: 10px;
}
.consultant_table div:first-child{
	border-right: 1px solid rgba(0,0,0,0.2);	
}
.consultant_table div p{
	margin-bottom: 0px;	
}
.consultant_table div p:first-child, p.bye-msg strong{
	color: 	#e43226;
}
p.bye-msg{
	font-size: 18px;
}

/*****************/
.neighborhood_table .headerpart{
	background-color: #e43226;
	color: #fff;
	padding: 15px;
	font-size: 16px;
	font-weight: 400;
	font-family: "Gotham Book";
	text-align: left;
}
.neighborhood_table{
	border-radius: 8px;
	overflow: hidden;
	background-color: #f9f8f8;
	box-shadow: 0px 0px 20px rgba();
}
.neighborhood_table div{
	border-bottom: 1px solid #fff;
	text-align: center;
	
}
.neighborhood_table div p{
	margin-bottom: 0px;	
}
.text-r{
	color: 	#e43226;
}
.neighborhood_table .realestate i{
	color: #e43226;
	font-size: 60px;
}
.neighborhood_table .statistics span{
	color: #e43226;
    font-size: 20px;
    font-family: "Gotham";
	font-weight: 400;
}
.neighborhood_table div > p{
	text-transform: uppercase;
	font-family: "Gotham";
	font-weight: 400;
}
.neighborhood_table .alerts i{
	color: #ffaa00;
	font-size: 23px;
}
.neighborhood_table .col:nth-child(2n+2){
	background-color: #f1f1f1;
}
.neighborhood_table .col{
	padding: 0px;
}
.neighborhood_table .col > div{
	padding: 35px 0px;	
}
.neighborhood_table .col > div:last-child{
	border-bottom: 0px;	
}

.neighborhood_btn{
	text-align: center;
	margin: 50px 0px;
	position: relative;
}
.neighborhood_btn:after{
	content: "";
	height: 1px;
	width: 100%;
	background-color: #ddd;
	position: absolute;
	left: 0px;
	top: 50%;
}
.neighborhood_btn .btn{
	background-color: #dfdfdf;
	border-radius: 30px;
	padding: 10px 30px;
	color: #555;
	font-family: "Gotham";
	font-weight: 400;
	font-size: 18px;
	
}
.neighborhood_btn .col {
	background-color: #f5f6f8;	
	position: relative;
	z-index: 1236;
	
}

/*jagadeesh css*/

.user-menu .dropdown-item:focus, .user-menu .dropdown-item:hover .dropdown-item .active {
	color: #E43226;
	background: transparent;
}

.user-menu .dropdown-menu {
    top: 65px;
    left: 0px;
    border-radius: 0px 0px 6px 6px;
    box-shadow:0px 4px 20px rgba(0,0,0,0.13);
}
.profile {
	margin: 50px 0px 50px 0px;
}
.vertical-tabs-container {
	display: flex;
	border-radius: 3px;
	margin-bottom: 1.5em;
	overflow: hidden;
	box-shadow: 0px 0px 45px rgba(0,0,0,0.1);
	background: #FFFFFF;
	min-height: 40rem
}
.vertical-tabs-container::after {
	clear: both;
	content: "";
	display: block;
}
.vertical-tabs-container li {
	list-style: none;
}
.vertical-tabs-container a {
	color: #477DCA;
	text-decoration: none;
}
.vertical-tabs-container .vertical-tabs {
	display: none;
}

@media screen and (min-width: 40em) {
.vertical-tabs-container .vertical-tabs {
	background-color: #F9F9F9;
	display: inline;
	float: left;
	/*  height: calc(100vh - 200px);*/
	width: 25%;
	border-right: 1px solid #DFDFDF;
	padding: 1rem;
}
}

@media screen and (min-width: 40em) {
.vertical-tabs-container .vertical-tab {
	display: block;
	font-weight: bold;
	margin-right: -1px;
	padding: 0.75em 0.809em;
}
.vertical-tabs-container .vertical-tab.is-active {
	margin-right: -1px;
	color: #E43226;
}
}
.vertical-tabs-container a.vertical-tab-accordion-heading, .vertical-tabs-container a.vertical-tab {
	color: #575757;
	text-transform: uppercase;
}
.vertical-tabs-container .vertical-tab:focus {
	outline: none;
}
.vertical-tabs-container .vertical-tab-content-container {
	display: block;
	margin: 0 auto;
}
.vertical-tabs-container .vertical-tab-content-container a:focus {
	outline: none;
}

@media screen and (min-width: 40em) {
.vertical-tabs-container .vertical-tab-content-container {
	/* height: calc(100vh - 200px);*/
	width: 75%;
	background-color: #ffffff;
	display: inline-block;
}
}
.vertical-tabs-container .vertical-tab-content {
	background-color: #ffffff;
	padding: 2rem;
}
.vertical-tabs-container .vertical-tab-content p {
	color: #333;
	line-height: 1.5em;
}
.vertical-tabs-container .vertical-tab-content h2 {
	font-size: 1.25rem;
	color: #575757;
	padding-bottom: 1.25rem;
}

@media screen and (min-width: 40em) {
.vertical-tabs-container .vertical-tab-content {
	border: none;
	display: none;
}
}
.vertical-tabs-container .vertical-tab-accordion-heading {
	background-color: white;
	border-top: 1px solid gainsboro;
	cursor: pointer;
	display: block;
	font-weight: bold;
	padding: 0.75em 0.809em;
}
.vertical-tabs-container .vertical-tab-accordion-heading:focus, .vertical-tabs-container .vertical-tab-accordion-heading:hover {
	color: #E43226;
}
.vertical-tabs-container .vertical-tab-accordion-heading:first-child {
	border-top: none;
}
.vertical-tabs-container .vertical-tab-accordion-heading.is-active {
	background: #f6f6f6;
	border-bottom: none;
}

@media screen and (min-width: 40em) {
.vertical-tabs-container .vertical-tab-accordion-heading {
	display: none;
}
}
.basic-info {
	display: flex;
	flex-wrap: wrap;
}
.basic-info div {
	flex-basis: calc(50% - 30px);
}
.basic-info .form-group {
	margin-right: 30px;
	margin-bottom: 40px;
}
.form-style {
	position: relative;
}
.form-style label {
	text-transform: uppercase;
	color: #5A5454;
	font-family: 'Gotham';
	font-weight: 300;
	font-size: 13px;
}
.form-style .form-control {
	border-bottom: 2px solid #D1D1D1;
	border-left: transparent;
	border-right: transparent;
	border-top: transparent;
	border-radius: 0px;
	padding: .375rem .75rem .375rem 0rem;
}
.form-style .form-control:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.form-style .search-warp {
	position: absolute;
	right: 5px;
	top: 5px;
}
.form-style .search-warp i {
	font-size: 20px;
	color: #9A9A9A;
	cursor: pointer;
	padding: 5px 0px 5px 10px;
}
.buttons {
	margin-top: 10%;
	display: flex;
	justify-content: flex-end
}
.buttons .btn:not(:last-child) {
	margin-right: 10px;
}
.sm-grey-btn {
	background-color: #DFDFDF;
	border-radius: 5px;
	color: #575757;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
	padding: 10px 30px;
}
.amenities-interested {
	display: inline-flex;
	flex-wrap: wrap;
}
.amenities-interested a {
	background: #FFF;
	border: 2px solid #D2D2D2;
	border-radius: 100px;
	padding: 8px 20px;
	margin-bottom: 10px;
	margin-right: 10px;
	color: #5A5454;
	transition: all 0.1s ease;
}
.amenities-interested a:hover {
	background: #E43226;
	color: #fff;
	border: 2px solid #fff;
}
.amenities-interested a.amenities-active {
	background: #E43226;
	color: #fff;
	border: 2px solid #fff;
}
.most-important-item h3 {
	color: #E43226;
	font-size: 16px;
	margin-bottom: 2em
}
.most-important-item:not(:last-child) {
	margin-bottom: 3rem
}


::-webkit-input-placeholder {
 color: #9A9A9A;
}
::-moz-placeholder {
 color: #9A9A9A;
}
:-ms-input-placeholder {
 color: #9A9A9A;
}
:-moz-placeholder {
 color: #9A9A9A;
}


.p-map-wrap {
	position: relative;
}

.p-map-wrap .form-control{
	display: block;
    height: 40px;
    border: 1px solid #fbfbfb;
    width: 50%;
    font-size: 16px;
    margin-bottom: 30px;
    padding: 10px;
    position: absolute;
    top: 51px;
    z-index: 99;
    left: 10px;
    background: rgba(255,255,255, 0.8);
    box-shadow: 0px 0px 14px rgba(0,0,0, 0.3);
}
.form-style .search-warp-profile {
	position: absolute;
	right: 5px;
	top: 35px;
}
.form-style .search-warp-profile i {
	font-size: 20px;
	color: #9A9A9A;
	cursor: pointer;
	padding: 5px 0px 5px 10px;
}


.map-block a{
	box-shadow: 0px 10px 20px rgba(228,50,38,0.3);
    color: #fff;
    background-color: #e43226;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 40px;
    height: 40px;	
}

.map-block a i{
	font-size: 18px;
}